body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 10px;
    background-color: bisque;
    align-items: center;
    
}

#get_coords_button{
    justify-content: center;
}

.mapDiv{
    justify-self: center;
    margin: auto;
    width: 60%;
    width: 600px; 
    height: 800px;
}

.button{
    display: flex; 
    justify-content: center;
    align-items: center;
}