*{
    font-family: Arial, Helvetica, sans-serif; 
}

body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #80aaff;
    align-items: center;
}

.marker-infoWindow-extra{
    margin-left: 18px;
}

.marker-infoWindow-title{
    text-align: center;
    margin-bottom: 5px;
}

.marker-infoWindow-message{
    background-color: #b3ccff;
    padding: 5px;
    border-radius: 15px;
}

.marker-infoWindow-main{
    border-radius: 15px;
    margin:5px;
    padding: 10px;
    background-color:#71a0ff;
}

.content{
    background-color: #99bbff;
    border-radius: 15px;
    padding:10px;
}

#form-title{
    text-align: center;
    margin: 5px;
    margin-top: 0;
}

#title-label{
    display: inline-block;
    width: 27.5%;
    text-align: left;
}

.collapsible{
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: auto;
    border-radius: 15px;
    border-color: azure;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover{
    background-color: #ccc;
}

.instruction-content{
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
    width: auto;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    width: auto;
    max-width: 450px;
}

.img{
    height: auto;
    width: auto; 
    display: block;
    max-width: 320px;
    max-height: 320px;
    border-radius: 15px;
}
.remover{
    border-radius: 10px;
    background-color: #eee;
    border-color: azure;
}

.active, .remover:hover{
    background-color: #ccc;
}

.post-content{
    background-color: #b3ccff;
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
}

.buttonHolder2{
    margin: 5px
}

#submitMemory{
    margin-right: 5px;
}

#buttonHolder{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

#floatingPanel{
    position: absolute;
    top: 10px;
    left: 45%;
    z-index: 5;
    padding: 5px;
    text-align: center;
    background-color: #80aaff;
    border-radius: 15px;
    width: auto;
    display: flex;
    flex-direction: row;
    scale: 1.3;
    border-color: #80aaff;
}

.hover-button{
    margin: 3px;
    border-radius: 10px;
    scale: 1;
    background-color: #eee;
    border-color: azure;
}

.active, .hover-button:hover{
    background-color: #ccc;
}

h2{
    text-align: left;
    margin-top: 5px;
    margin-bottom: 0px;
}

p{
    margin: 0px;
}

#geom-postbox-title{
    font-weight: bold;
}

#get_coords_button{
    justify-content: center;
}


#form-box{
    height: 350px;
}

#title-logo{
    position: absolute;
    left: 210px;
    top: 7px;
    border-radius: 15px;
    background-color:#99bbff;
    padding:10px;
    font-size: x-large;
}

#box{
    position: absolute; 
    top: 8%;
    left: 5px;
    border-radius: 15px;
    background-color: #99bbff;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin: 5px;
    padding: 5px;
    max-width: 453px;
}
#display-image{
    background-color: #99bbff;
    border-radius: 15px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

}
#instructions{
    border-radius: 15px;
    background-color: #b3ccff;
    display: flex;
    max-width: 450px;
    flex-direction: column;
    width: auto;
    height: auto;
    margin: 5px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    word-wrap: break-word;
}

#form{
    width: auto;
    display: flex;
    margin: 5px;
    padding: 10px;
    background-color: #b3ccff;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

#geoMList{
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: #b3ccff;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #b3ccff;
    height: auto;
}

#flexContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: auto; 
    background-color: aliceblue;
    border-radius: 15px;
    margin-top: 5px;
    flex-wrap: wrap;
}

.memory-post{
    align-items: left;
    text-align: left;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;
    width: 460px;
    height: auto;
    margin: 5px;
    background-color: #99bbff ;
    border-radius: 15px;
    border-color: black;
}

.post-message{
    background-color: #99bbff ;
    border-radius: 15px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    word-wrap: break-word;
}

.post-title{
    margin-left: 10px;
}

.mapDiv{
    justify-self: center; 
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}

.button{
    display: flex; 
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #eee;
    border-color: azure;
}

.active, .button:hover{
    background-color: #ccc;
}