body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #80aaff;
    align-items: center;
}

h2{
    text-align: left;
    margin-top: 5px;
    margin-bottom: 0px;
}

p{
    margin: 0px;
}

#geom-postbox-title{
    font-weight: bold;
}

#get_coords_button{
    justify-content: center;
}


#form-box{
    height: 300px;
}


#form{
    margin: 10px;
    padding: 10px;
    background-color: #b3ccff;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

#geoMList{
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: #b3ccff;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #b3ccff;
    height: auto;
}

#flexContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: auto; 
    background-color: aliceblue;
    border-radius: 15px;
    flex-wrap: wrap;
}

.memory-post{
    align-items: left;
    text-align: left;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;
    width: 230px;
    height: 300px;
    margin: 5px;
    background-color: #99bbff ;
    border-radius: 15px;
    border-color: black;
}

.mapDiv{
    justify-self: center; 
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}

.button{
    display: flex; 
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}