<!DOCTYPE html> 
<html>
<head> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Geo-Memories</title>
    <link rel="stylesheet" href="Jogging_App_StyleSheet.css">
    <script src="Jogging_App_JS.js" defer></script>
    </head>
    <body>
        <div>
            <div class = "mapDiv" id="mapDiv" style="width: 100%; height: 800px"></div>
            <div id="floatingPanel">
                <button class = "hover-button" id="center">Center</button> 
                <button class = "hover-button" id="delAll">Delete All</button>
            </div>
            <div id="title-logo"><b> GeoMemories App </b></div>
            <div id="form-box">
                <div id="box">
                    <div id="form">
                            <form>
                                <div id="form-title"><b>Create GeoMemory</b></div>
                                <label id="title-label" for="title">Title:</label>
                                <input type="text" class="text-input-fields" id="title"><br>
                                <label for="text-content">Message:</label>
                                <input type="text" class="text-input-fields" id="text-content"><br>
                                <label for="checkbox">Use marker coordinates</label>
                                <input type="checkbox" id="marker-coords"><br>
                                <input type="file" id="file-input" accept="image/png, image/jpg">
                            </form>
                            <div id="buttonHolder">
                                <button class="button" id="submitMemory">Submit Memory</button>
                                <button class="button" id="editMemory">Apply Edits</button>
                            </div>
                            
                            </div>
                            <div id="display-image">
                    </div>
                    <div id="instructions">
                        <button type="button" class="collapsible"><b>How to use GeoMemories</b></button>
                        <div class="instruction-content"> 
                            <p>
                                This app is for capturing memories (photos and text) at geographic locations you can select. <br><br>
                                <b>Create GeoMemory</b><br>
                                Drag the red marker to the location where you want to store your memory. 
                                Pick the title for it, provide a description and/or select a photo to store with the memory.
                                Click "Submit Memory" to create a GeoMemory. 
                                Your photo has to be a .png or .jpg file less than 1MB in size. <br><br>
                                <b>Edit GeoMemory</b><br>
                                Click the GeoMemory marker on the map to see the photo and GeoMemory description. 
                                When you click the "Edit Memory" button, contents of the memory will appear in the "Create GeoMemory" form. 
                                Edit them as required and click "Apply Edits" to save the changes.<br><br>
                                <b>Other Features</b><br>
                                If the "Use marker coordinates" box is checked the memory will be saved at the coordinate of the red marker,
                                otherwise it will be saved at the default location marked by the blue marker on the map. 
                                You can re-center the map to the default location by pressing the "Center" button at the top of the map.
                                Scroll down to find the database of all the GeoMemories you created. Click the Delete All button to remove all GeoMemories.
                            </p>
                        </div>
                    </div>
                </div>
                <div id="geoMList">
                    <td><label id="geom-postbox-title"><h2>Geo Memories</h2></label></td>
                    <td>
                        <div id="flexContainer"></div>
                    </td>
                </div>
            </div>
        </div>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEmGm-PIIFijbgz06Zem6kyoH9HOxJQFM&callback=initMap&v=weekly" defer>
        </script>
    </body>
</html> 