<!DOCTYPE html> 
<html>
<head> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Geo-Memories</title>
    <link rel="stylesheet" href="Jogging_App_StyleSheet.css">
    <script src="Jogging_App_JS.js" defer></script>
    </head>
    <body>
        <div>
            <div class = "mapDiv" id="mapDiv" style="width: 100%; height: 800px"></div>
            <div id="floatingPanel">
                <button class = "hover-button" id="center">Center</button> 
                <button class = "hover-button" id="delAll">Delete All</button>
            </div>
            <div id="title-logo"><b> GeoMemories App </b></div>
            <div id="form-box">
                <div id="box">
                    <div id="form">
                        <div>
                            <form>
                                <b>Create a GeoMemory</b><br>
                                <label for="title">Title:</label>
                                <input type="text" id="title"><br>
                                <label for="text-content">Message:</label>
                                <input type="text" id="text-content"><br>
                                <label for="checkbox">Use marker coordinates</label>
                                <input type="checkbox" id="marker-coords"><br>
                                <input type="file" id="file-input" accept="image/png, image/jpg">
                            </form>
                            <div id="buttonHolder">
                                <button class="button" id="submitMemory">Submit Memory</button>
                                <button class="button" id="editMemory">Apply Edits</button>
                            </div>
                            
                            </div>
                            <div id="display-image">
                        </div>
                    </div>
                    <div id="instructions">
                        <button type="button" class="collapsible"><b>Instructions</b></button>
                        <div class="instruction-content"> 
                            <p>
                                <b>Instructions</b><br>
                                This app is for storing memories (photos and text) at specific locations. Scroll down to find all the GeoMemories.<br><br>
                                <b>Markers</b><br>
                                The red marker is at your current location, you can use it to create a new GeoMemory somewhere other than your location by dragging it. 
                                You will see a blue marker that is fixed which will represent your current location.<br><br>
                                <b>Create a GeoMemory</b><br>
                                In the submit form, if you check the box for "Use marker coordinates"
                                The memory will be saved at the coordinate of the red marker, otehrwise it will be saved at the blue marker. Next, you can add a photo by clicking choose file. 
                                In the prompt, select your photo - it has to be a .png or .jpg file format and of relatively small size - less than 1MB. 
                                Once you have selected a photo it should appear in the preview box. Next, add a title and message and click Submit to create a GeoMemory.<br><br>
                                <b>Edit GeoMemories</b><br>
                                You can click the GeoMemory marker on the map to show the photo and details about the memory. Once you click the update memory button, the
                                the contents of the memory will appear in the submit form. Edit them as required and click "Apply Edits" to save the changes to the memory in the database.
                            </p>
                        </div>
                    </div>
                </div>
                <div id="geoMList">
                    <td><label id="geom-postbox-title"><h2>Geo Memories</h2></label></td>
                    <td>
                        <div id="flexContainer"></div>
                    </td>
                </div>
            </div>
        </div>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEmGm-PIIFijbgz06Zem6kyoH9HOxJQFM&callback=initMap&v=weekly" defer>
        </script>
    </body>
</html> 